@model dynamic
@{
    ViewData["Title"] = @Model.Movie.Title;

    Layout = "_Layout";

}
@using OMDbApiNet.Model;
@using MovNotifier.Services;
@using TMDbLib.Objects.Search;
<link href="./bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="~/css/details.css">
<link href="~/css/animate.css" rel="stylesheet" type="text/css" />
<link href="~/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
<link href="~/css/magnific-popup.css" rel="stylesheet" type="text/css" />
<link href="~/css/slick.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Oswald:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<link href="~/css/dot-icons.css" rel="stylesheet" type="text/css">
<link href="~/css/theme.css" rel="stylesheet" type="text/css">





<section class="after-head d-flex section-text-white position-relative">
    <div class="d-background" data-image-src="@Model.Movie.Poster" data-parallax="scroll"></div>
    <div class="d-background bg-black-80"></div>
    <div class="top-block top-inner container">
        <div class="top-block-content">
            <h1 class="section-title">Movies info</h1>
            <div class="page-breadcrumbs">
                <a class="content-link" asp-controller="Home" asp-action="Index">Home</a>
                <span class="text-theme mx-2"><i class="fas fa-chevron-right"></i></span>
                <a class="content-link" href="movies-blocks.html">Movies</a>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="sidebar-container">
        <div class="content">
            <section class="section-long">
                <div class="section-line">
                    <div class="movie-info-entity">
                        <div class="entity-poster" data-role="hover-wrap">
                            <div class="embed-responsive embed-responsive-poster">
                                <img class="embed-responsive-item" src="@Model.Movie.Poster" alt="" />
                            </div>
                            <div class="d-over bg-theme-lighted collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                                <div class="entity-play">
                                    <a class="action-icon-theme action-icon-bordered rounded-circle" href="@TheMovieDbUtilities.getLinkByName(Model.Movie.Title)" data-magnific-popup="iframe">
                                        <span class="icon-content"><i class="fas fa-play"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="entity-content">
                            <h2 class="entity-title">@Model.Movie.Title</h2>
                            <div class="entity-category">
                                @foreach (Genre genre in Model.Genres)
                                {


                                    <a class="content-link" href=""> @Html.DisplayFor(modelItem => genre.Name) &nbsp;</a>

                                }

                            </div>
                            <div class="entity-info">
                                <div class="info-lines">
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i class="fas fa-star"></i></span>
                                        <span class="info-text">@String.Format("{0:0.0}", Model.Movie.AvgRating)</span>
                                        <span class="info-rest">/10</span>
                                    </div>
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i class="fas fa-clock"></i></span>
                                        <span class="info-text">@Model.Movie.Runtime</span>

                                    </div>
                                </div>
                            </div>
                            <ul class="entity-list">
                                <li>
                                    <span class="entity-list-title">Release:</span>@Model.Movie.ReleasDate
                                </li>
                                <li>
                                    <span class="entity-list-title">Directed:</span>
                                    @MovieDbUtilities.GetDirector(Model.Movie.Id).name
                                </li>
                                <li>
                                    <span class="entity-list-title">Actors:</span>
                                    @foreach (Actor actor in Model.Actors)
                                    {

                                        <a class="content-link" href="#"> @Html.DisplayFor(modelItem => actor.name) &nbsp;</a>

                                    }


                                </li>

                                <li>
                                    <span class="entity-list-title">Country:</span>

                                    <a class="content-link" href="#">@MovieDbUtilities.GetCountry(Model.Movie.Id).name</a>

                                </li>
                                <li>
                                    <span class="entity-list-title">Language:</span>
                                    @foreach (Language language in MovieDbUtilities.GetLanguages(Model.Movie.Id))
                                    {
                                        <a class="content-link" href="#"> @Html.DisplayFor(modelItem => language.name) &nbsp;</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="section-line">
                    <div class="section-head">
                        <h2 class="section-title text-uppercase">@Model.Movie.Title</h2>
                    </div>
                    <div class="section-description">
                        <p class="lead">
                            @Model.Movie.Description
                        </p>

                    </div>

                </div>

            </section>
        </div>
    </div>
</div>
<script>
        $("#searchTitle").autocomplete({
        source: '@Url.Action("SearchMovie", "Home")'
    });
</script>

<script src="~/js/bootstrap/js/bootstrap.js"></script>

<script src="~/js/parallax.js"></script>

<script src="~/js/jquery.waypoints.min.js"></script>

<script src="~/js/slick.min.js"></script>

<script src="~/js/jquery.magnific-popup.min.js"></script>

<script src="~/js/script.js"></script>
<script async defer src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js"></script>