@{
    ViewData["Title"] = "Home Page";

    Layout = "_Layout";

}
@using OMDbApiNet.Model;
@using MovNotifier.Services;
@using TMDbLib.Objects.Search;
@model dynamic
<!--movies---------------------------->

<link href="./bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="~/css/details.css">
<link href="~/css/animate.css" rel="stylesheet" type="text/css" />
<link href="~/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
<link href="~/css/magnific-popup.css" rel="stylesheet" type="text/css" />
<link href="~/css/slick.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Oswald:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<link href="~/css/dot-icons.css" rel="stylesheet" type="text/css">
<link href="~/css/theme.css" rel="stylesheet" type="text/css">



@*<section id="movies-list">
        @if (Model.Movies.Count > 0)
        {

            foreach (SearchItem c in Model.Movies)
            {
                <form asp-controller="Home"
                      asp-action="Details" method="get">
                    <input type="hidden" id="IMDBID" name="IMDBID" value="@c.ImdbId" />
                    <div class="movies-box">

                        <div class="movies-img">
                            <div class="quality">HDRip</div>
                            <img src="@c.Poster">
                        </div>

                        @Html.DisplayFor(modelItem => c.Title)
                        (@Html.DisplayFor(modelItem => @c.Year))
                        <button class="btn btn-primary" type="submit"> See Details</button>
                    </div>
                </form>

            }

        }

        else
        {



            <div class="search-message-empty-container">
                <span class="search-message-empty-decal">
                    <span class="search-message-empty-decal-eyes">:</span>
                    <span>(</span>
                </span>
                <h2 class="search-message-empty-message">
                    Nope, nothing.
                </h2>
            </div>



        }
    </section>*@




<section class="section-text-white position-relative">
    <div class="d-background" data-image-src="~/images/bcg-dark.jpg" data-parallax="scroll"></div>
    <div class="d-background bg-theme-blacked"></div>
    <div class="mt-auto container position-relative">
        <div class="top-block-head text-uppercase">
            <h2 class="display-4">
                Movies Recommended
                <span class="text-theme">For You</span>
            </h2>
            <form asp-controller="Home" asp-action="SendRecommendation" method="post">
                <input type="hidden" name="Id" value="@Model.MailRecommendation"/>
                <button style="float:right" class="btn btn-warning" type="submit">
                    Send Recommendation to Gmail
                </button>
            </form>
            <h6>
                @if (Model.favoriteDirectors != null && Model.favoriteActors != null && Model.favoriteGenres != null)
                {
                    <p>Recommendations based on Most Searched Directors :</p>
                    @foreach (Director d in Model.favoriteDirectors)
                    {

                        <span class="text-theme">
                            @Html.DisplayFor(modelItem => d.name) |
                        </span>
                    }
                    <p>
                        Most Searched Actors:
                    </p>
                    @foreach (Actor a in Model.favoriteActors)
                    {

                        <span class="text-theme">
                            @Html.DisplayFor(modelItem => a.name)  |
                        </span>

                    }
            <p>
                Most Searched Genres:
            </p>
                        @foreach (Genre g in Model.favoriteGenres)
                        {

                            <span class="text-theme">
                                @Html.DisplayFor(modelItem => g.Name)  |
                            </span>
                        }
                        }
                </h6>
        </div>
        <div class="top-block-footer">
            <div class="slick-spaced slick-carousel" data-slick-view="navigation responsive-4">
                <div class="slick-slides">

                    @foreach (Movie movie in Model.Recommendation)
                    {
                    <div class="slick-slide">
                        <article class="poster-entity" data-role="hover-wrap">
                            <div class="embed-responsive embed-responsive-poster">
                                <img class="embed-responsive-item" src="@movie.Poster" alt="" />
                            </div>
                            <div class="d-background bg-theme-lighted collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show"></div>
                            <div class="d-over bg-highlight-bottom">
                                <div class="collapse animated faster entity-play" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                                    <a class="action-icon-theme action-icon-bordered rounded-circle" href="@TheMovieDbUtilities.getLinkByName(movie.Title)" data-magnific-popup="iframe">
                                        <span class="icon-content"><i class="fas fa-play"></i></span>
                                    </a>
                                </div>
                                <h4 class="entity-title">
                                    <form asp-controller="Home"
                                          asp-action="ExistingMovieDetails" method="get">
                                        <input type="hidden" name="Id" value="@movie.Id" />

                                        <button type="submit" class="content-link" style="border: none;background-color: Transparent;background-repeat: no-repeat;border: none; cursor: pointer;overflow: hidden;outline: none;">
                                            @Html.DisplayFor(modelItem => movie.Title)
                                        </button>

                                    </form>
                                 
                                </h4>
                                <div class="entity-category">
                                    @if (MovieDbUtilities.GetGenres(movie.Id).ToList().Count() < 3)
                                    {
                                        @foreach (Genre genre in MovieDbUtilities.GetGenres(movie.Id).ToList().Take(2))
                                        {

                                            <a class="content-link" href="movies-blocks.html">@Html.DisplayFor(modelItem => genre.Name) &nbsp;</a>
                                        }

                                    }
                                    else
                                    {
                                        @foreach (Genre genre in MovieDbUtilities.GetGenres(movie.Id).ToList().Take(3))
                                        {

                                            <a class="content-link" href="movies-blocks.html">@Html.DisplayFor(modelItem => genre.Name) &nbsp;</a>
                                        }
                                    }

                                </div>
                                <div class="entity-info">
                                    <div class="info-lines">
                                        <div class="info info-short">
                                            <span class="text-theme info-icon"><i class="fas fa-star"></i></span>
                                            <span class="info-text">@String.Format("{0:0.0}", movie.AvgRating)</span>
                                            <span class="info-rest">/10</span>
                                        </div>
                                        <div class="info info-short">
                                            <span class="text-theme info-icon"><i class="fas fa-clock"></i></span>
                                            <span class="info-text">@Html.DisplayFor(modelItem => movie.Runtime)</span>
                                  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    }




                </div>
                <div class="slick-arrows">
                    <div class="slick-arrow-prev">
                        <span class="th-dots th-arrow-left th-dots-animated">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="slick-arrow-next">
                        <span class="th-dots th-arrow-right th-dots-animated">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@if (Model.history != null && Model.historyCount > 0)
{
<section class="section-long">
    <div class="container">
        <div class="section-head">
            <h2 class="section-title text-uppercase">You have already searched</h2>
        </div>
        @foreach (Movie mov in Model.history)
        {
            <article class="movie-line-entity">
                <div class="entity-poster" data-role="hover-wrap">
                    <div class="embed-responsive embed-responsive-poster">
                        <img class="embed-responsive-item" src="@mov.Poster" alt="" />
                    </div>
                    <div class="d-over bg-theme-lighted collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                        <div class="entity-play">
                            <a class="action-icon-theme action-icon-bordered rounded-circle" href="@TheMovieDbUtilities.getLinkByName(mov.Title)" data-magnific-popup="iframe">
                                <span class="icon-content"><i class="fas fa-play"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="entity-content">
                    <h4 class="entity-title">
                        <form asp-controller="Home"
                  asp-action="ExistingMovieDetails" method="get">
                            <input type="hidden" name="Id" value="@mov.Id"/>
                         
                                <button type="submit" class="content-link" style="border: none;background-color: Transparent;background-repeat: no-repeat;border: none; cursor: pointer;overflow: hidden;outline: none;">
    @Html.DisplayFor(modelItem => mov.Title)
</button>
                          
                        </form>
                    </h4>
                    <div class="entity-category">
                        @if (MovieDbUtilities.GetGenres(mov.Id).ToList().Count() < 3)
                        {
                            @foreach (Genre genre in MovieDbUtilities.GetGenres(mov.Id).ToList().Take(2))
                            {

                                <a class="content-link" href="movies-blocks.html">@Html.DisplayFor(modelItem => genre.Name) &nbsp;</a>
                            }

                        }
                        else
                        {
                            @foreach (Genre genre in MovieDbUtilities.GetGenres(mov.Id).ToList().Take(3))
                            {

                                <a class="content-link" href="movies-blocks.html">@Html.DisplayFor(modelItem => genre.Name) &nbsp;</a>
                            }
                        }
                    </div>
                    <div class="entity-info">
                        <div class="info-lines">
                            <div class="info info-short">
                                <span class="text-theme info-icon"><i class="fas fa-star"></i></span>
                                <span class="info-text">@String.Format("{0:0.0}", mov.AvgRating)</span>
                                <span class="info-rest">/10</span>
                            </div>
                            <div class="info info-short">
                                <span class="text-theme info-icon"><i class="fas fa-clock"></i></span>
                                <span class="info-text">@Html.DisplayFor(modelItem => mov.Runtime)</span>

                            </div>
                        </div>
                    </div>

                    @if (mov.Description.Length < 60)
                    {
                        <p class="text-short entity-text">
                            @mov.Description.Substring(0, mov.Description.Length)...
                        </p>
                    }
                    else if (mov.Description.Length > 60 && mov.Description.Length < 200)
                    {
                        <p class="text-short entity-text">@mov.Description.Substring(0, mov.Description.Length / 2) ...</p>
                    }
                    else if (mov.Description.Length > 200 && mov.Description.Length < 400)
                    {
                        <p class="text-short entity-text">@mov.Description.Substring(0, mov.Description.Length / 5) ...</p>
                    }
                    else
                    {
                        <p class="text-short entity-text">@mov.Description.Substring(0, 100) ...</p>
                    }

                </div>

            </article>
        }
    <h3 style="padding-left: 35% ; padding-top: 45px;">
        <a class="content-link" asp-controller="Home" asp-action="WatchList"> See whole searched movies </a>
    </h3>
    </div>
</section>
}
<section class="section-solid-long section-text-white position-relative">
    <div class="d-background" data-image-src="~/images/home-bcg.jpg" data-parallax="scroll"></div>
    <div class="d-background bg-gradient-black"></div>
    <div class="container position-relative">
        <div class="section-head">
            <h2 class="section-title text-uppercase">Comming Soon</h2>
        </div>
        <div class="slick-spaced slick-carousel" data-slick-view="navigation single">
            <div class="slick-slides">
                @foreach (SearchMovie sr in Model.UpcomingMovies)
                {
                <div class="slick-slide">
                    <article class="movie-line-entity">
                        <div class="entity-preview">
                            <div class="embed-responsive embed-responsive-16by9">
                                <img class="embed-responsive-item" src="https://image.tmdb.org/t/p/w500/@sr.PosterPath" alt="" />
                            </div> 
                            <div class="d-over">
                                <div class="entity-play">
                                    <a class="action-icon-theme action-icon-bordered rounded-circle" href="@TheMovieDbUtilities.getLinkById(sr.Id)" data-magnific-popup="iframe">
                                        <span class="icon-content"><i class="fas fa-play"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="entity-content">
                            <h4 class="entity-title">
                                <a class="content-link" href="movie-info-sidebar-right.html">@Html.DisplayFor(modelItem => sr.Title)</a>
                            </h4>
                       
                            <div class="entity-info">
                                <div class="info-lines">
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i class="fas fa-calendar-alt"></i></span>
                                        <span class="info-text">@Html.DisplayFor(modelItem => sr.ReleaseDate)</span>
                                    </div>
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i class="fas fa-star"></i></span>
                                        <span class="info-text">@String.Format("{0:0.0}", sr.VoteAverage)</span>
                                        <span class="info-rest">/10</span>
                                     

                                    </div>
                                </div>
                            </div>
                            <p class="text-short entity-text">
                                In luctus ac nisi vel vulputate. Sed blandit augue ut ex eleifend, ac posuere dolor sollicitudin. Mauris tempus euismod mauris id semper. Vestibulum ut vulputate elit, id ultricies libero. Aenean laoreet mi augue, at iaculis nisi aliquam eu. Quisque nec ipsum vehicula diam egestas porttitor eu vitae ex. Curabitur auctor tortor elementum leo faucibus, sit amet imperdiet ante maximus. Nulla viverra tortor dignissim purus placerat dapibus nec ut orci. Quisque efficitur nulla quis pulvinar dapibus. Phasellus sodales tortor sit amet sagittis condimentum. Donec ac ultricies ex. In odio leo, rhoncus aliquam bibendum sit amet, varius sit amet nisl.
                            </p>
                        </div>
                    </article>
                </div>
                }
            </div>
            <div class="slick-arrows">
                <div class="slick-arrow-prev">
                    <span class="th-dots th-arrow-left th-dots-animated">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div class="slick-arrow-next">
                    <span class="th-dots th-arrow-right th-dots-animated">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
        $("#searchTitle").autocomplete({
        source: '@Url.Action("SearchMovie", "Home")'
    });
</script>

<script src="~/js/bootstrap/js/bootstrap.js"></script>

<script src="~/js/parallax.js"></script>

<script src="~/js/jquery.waypoints.min.js"></script>

<script src="~/js/slick.min.js"></script>

<script src="~/js/jquery.magnific-popup.min.js"></script>

<script src="~/js/script.js"></script>
<script async defer src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js"></script>

<script>
    $(function () {
        $('#example1').DataTable();
    });
    function Details( Id){

        if (r == true) {

            $.ajax(
            {
                type: "GET",
                url: '@Url.Action("ExistingMovieDetails", "Home")',
                data: {
                    Id: Id
                }
            });
        }
    }
 
  
</script>